{% extends 'base.html' %}
{% block cuerpo %}
    <!-- section header imagen -->
    <section class="Gshopping">
        <div class="tabla"><br><br>
          <h1 class="label-titulos">Carrito de compras</h1><br>
              <table >
                  <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Total</th>

                    <th>Eliminar</th>
                  </tr>
                   {% for i in dato%}
                  <tr>
                    <td>{{i[0]}}</td>
                    <td>{{i[3]}}</td>
                    <td>{{i[4]}}</td>
                    <td>{{i[5]}}</td>

                    <td class="delete-one"> <a href='{{url_for("delete",id_compra=25)}}'>Eliminar</a></td>
                  </tr>
                  {% endfor %}

                </table>
                <div class="btn-delete">
                  <a href="/delete_all"><input type="submit" value="Eliminar todo"></a>
              </div>

          </div> 

    
    </section>
{% endblock %}