*, h1, h2, h3, h4, p, body, header, section, aside, 
footer, nav, ul, li, a, img, label, form, input{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
} 
.header{
    width: 1000px;
    height: 40px;
    left: 5px;
    top: 0px;
    background: #865439;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}
.form-mantenimiento {
    width: 600px;
    background: black;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4x;
    font-family: 'Arial';
    color: white;
    text-align: center;

}
.form-registro h4 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}
.form-registro p {
    float:none;
    text-align: center;
}
.controls {
    height: 20px;
    width: 300px;
    background: white;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
    border: 1px solid #865439;
    font-family: 'Arial';
    font-size: 18px;
    margin-top: 0px;
    float: none;
    text-align: center;
}
.botons {
    width: 50%;
    background:#865439;
    border: none;
    padding: 12px;
    margin: 16px 0;
    font-size: 16px;
    text-align: center;
}
.form {
    text-align: center;
}