{% extends 'base.html' %}
{% block cuerpo %}
<section class="Gplatos">
    <div class="aside">
        <div class="user">
            <img src="{{ url_for('static',filename='img/foto.png')}}" class="fotico-dashboard" alt="" >
            <p class="rol">ADMIN</p>
        </div>
        <div class="plataforma">
            <h4>dashboard</h4>
        </div>
        <nav class="navbar-aside"> 
            <a href='/platos' class="dashboard-platos">Gestionar Platos</a>
            <a href='/usuarios' class="dashboard-usuarios">Gestionar Usuarios</a>
            <a href='/index'>Salir</a>
        </nav> 
    </div>
</section>
<section>
    <div>
        <div class="text-title"><h1>Agregar plato</h1></div>
        <div class="content-line">
            <div class="line"></div>
        </div>
        <div class='content-sign-add-platos'>
            <div class='content-sign'>
                <div>
                    <div>{{ form.nPlato.label(class="style-sign-label") }}</div>
                    <div>{{ form.nPlato( minlength=1, maxlength=100, class="style-sign-plate", placeholder=" nombre")}}</div>
                </div>
                <div>
                    <div>{{ form.pPlato.label(class="style-sign-label") }}</div>
                    <div>{{ form.pPlato(minlength=5, maxlength=40, class="style-sign-plate", placeholder=" precio")}}</div>
                </div>
            </div>
            <div class='content-sign'>
                <div>
                    <div>{{ form.dPlato.label(class="style-sign-label") }}</div>
                    <div class="area">{{ form.dPlato( minlength=1, maxlength=100, class="style-sign-plate", placeholder=" descripcion del plato")}}</div>
                </div>
                <div>
                    <div class="icon-upload">
                        <i class="fas fa-upload fa-3x"></i>
                    </div>
                    <div>{{ form.aImgPlato.label(class="style-sign-label") }}</div>
                    <div class="area">{{ form.aImgPlato(minlength=5, maxlength=40, class="style-sign-plate", placeholder=" imagen")}}</div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}