{% extends 'base.html' %}
{% block cuerpo %}

<!-- section Buscar -->
<section>
    <div class='buscar'></div>
    <form name='fBuscar' id='fBuscar' action='/buscar/'>
        <div class='label'>{{ form.seh.label(class="label-titulos") }}</div>
        <div>
            <div class='rectangulo' ><a class='icon-buscar'><i class="fas fa-search fa-2x" ></i></a></div>
            <div class='field'>{{ form.seh(class="form-style-buscar")}}</div>
        </div>
</section>

    <!-- section todos nuestros productos -->

    <section class="nproductos">
        <h2 class="label-titulos">Nuestros Productos </h2><br>
        <div class="content-box">
          <div class="box">
            <img src="{{url_for('static',filename='img/plato2.jpg')}}" class="img" alt="plato2" />
            <div class="contenido">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores,
                aliquam!
              </p>
              <p>$13000</p>
            </div>
          </div>
          <div class="box">
            <img src="{{url_for('static',filename='img/plato2.jpg')}}" class="img" alt="plato2" />
            <div class="contenido">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores,
                aliquam!
              </p>
              <p>$13000</p>
            </div>
          </div>
          <div class="box">
            <img src="{{url_for('static',filename='img/plato2.jpg')}}" class="img" alt="plato2" />
            <div class="contenido">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores,
                aliquam!
              </p>
              <p>$13000</p>
            </div>
          </div>
          <div class="box">
            <img src="{{url_for('static',filename='img/plato2.jpg')}}" class="img" alt="plato2" />
            <div class="contenido">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores,
                aliquam!
              </p>
              <p>$13000</p>
            </div>
          </div>
          <div class="box">
            <img src="{{url_for('static',filename='img/plato2.jpg')}}" class="img" alt="plato2" />
            <div class="contenido">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores,
                aliquam!
              </p>
              <p>$13000</p>
            </div>
          </div>
          <div class="box">
            <img src="{{url_for('static',filename='img/plato2.jpg')}}" class="img" alt="plato2" />
            <div class="contenido">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores,
                aliquam!
              </p>
              <p>$13000</p>
            </div>
          </div>
        </div>
      </section>
  
{% endblock %}