{% extends 'base.html' %}
{% block cuerpo %}

<!-- section Buscar -->
<section>
    <div class='buscar'></div>
    <form name='fBuscar' id='fBuscar' action='/buscar/' method="GET">
        <div class='label'>{{ form.seh.label(class="label-titulos") }}</div>
        <div>
            <button class='rectangulo'><a class='icon-buscar'><i class="fas fa-search fa-2x" ></div></i></a></button>
            <div class='field'>{{ form.seh(class="form-style-buscar")}}</div>
        </div>
    </form>
</section>

    <!-- section nuestros productos -->

    <section class="nproductos">
      <h2 class="product">Productos </h2>
      <div class="content-box">
        {% for i in res %}
        <div class="box">
          <a href="/producto/?plate={{ i[2] }}"><img src="{{url_for('static',filename=i[1])}}" class="img" alt="plato2" /></a>
          <div class="contenido">
            <p class="description"> {{ i[5]}} </p> 
            </p>
            <p class="precio">${{ i[6] }}</p>
            <div class="estrellas">
              {% for y in range(i[4]|int) %}
              <a class="estrella">&#9733 {% endfor %}<span class="puntaje">  {{ i[4] }}</span></a>
            
            </div>
          </div>
        </div>
        {% endfor %}  
      </div>
</div>
    </section>
  
{% endblock %}