{% extends 'base.html' %}
{% block cuerpo %}
<div class="content-dashboard">
    <section class="Gplatos">
        <div class="aside">
            <div class="user">
                <img src="{{ url_for('static',filename='img/foto.png')}}" class="fotico-dashboard" alt="" >
                <p class="rol">ADMIN</p>
            </div>
            <div class="plataforma">
                <h4>dashboard</h4>
            </div>
            <nav class="navbar-aside"> 
                <a href='/dashboard/platos/' class="dashboard-platos">Gestionar Platos</a>
                <a href='/dashboard/usuarios/' class="dashboard-usuarios">Gestionar Usuarios</a>
                <a href='/salir'>Salir</a>
            </nav> 
        </div>
    </section>
    <section>
        <form name='fedit' id='fedit' action='/dashboard/platos/edit_plate/' method='POST'>
            <div>
                <div class="text-title"><h1>Editar platos</h1></div>
                <div class="content-line">
                    <div class="line"></div>
                </div>
                <div class='content-sign-add-platos'>
                    <div class='content-sign'>
                        <div>
                            <div>{{ form.nPlato.label(class="style-sign-label") }}</div>
                            <div>{{ form.nPlato( minlength=1, maxlength=100, class="style-sign-plate")}}</div>
                        </div>
                        <div>
                            <div>{{ form.pPlato.label(class="style-sign-label") }}</div>
                            <div>{{ form.pPlato(minlength=5, maxlength=40, class="style-sign-plate")}}</div>
                        </div>
                    </div>
                    <div class='content-sign'>
                        <div>
                            <div>{{ form.dPlato.label(class="style-sign-label") }}</div>
                            <div class="area">{{ form.dPlato( minlength=1, maxlength=100, class="style-sign-plate")}}</div>
                        </div>
                        <div>
                            <div>{{ form.aImgPlato.label(class="style-sign-label") }}</div>
                            <div class="area">{{ form.aImgPlato(minlength=5, maxlength=40, class="style-sign-plate")}}</div>
                        </div>
                    </div>
                    <div class='content-sign'>
                        <div >&nbsp;</div>
                        <div>{{ form.btnE(class='style-btn-sign') }}</div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>
{% endblock %}