{% extends 'base.html'%}
{% block cuerpo%}
    <!-- section header imagen  -->
    
    <section class="favoritos">
      <h1 class="tfavorito"><i class="fas fa-star"></i>&nbsp &nbsp Lista de favoritos</h1>
      <div class="content-box">
        {% for i in res  %}
        <div class="box">
          <a href="/producto/?plate={{ i[1] }}"><img src="{{url_for('static',filename=i[0])}}" class="img" alt="plato2" /></a>
          <div class="contenido">
            <h1> {{i[1]}} </h1>
            <p class="description"> {{ i[4]}} </p> 
            </p>
            <p class="precio">${{ i[3] }}</p>
            <div class="estrellas">
              {% for y in range(i[2]|int) %}
              <a class="estrella">&#9733 {% endfor %}<span class="puntaje">  {{ i[2] }}</span></a>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
  </section>
{% endblock %}