{% extends 'base.html' %}
{% block cuerpo %}
    <!-- section header imagen -->
    <section class="img-header-login">
      <div class="banner">
        <img src="{{url_for('static',filename='img/header.jpg')}}" class="foto-banner" alt="" />
      </div>
    </section>

        <div class="formulario">
            <div class="icon-login">
              <img src="../static/img/final.png" alt="" class="icono-login">
            </div>
          <div class="formulario-login">
            <form name='flogin' id='flogin' action='' method='POST' class="form-login">
              {{ form.name(placeholder="Usuario", class="style-login") }}
              <br>
              {{ form.password(placeholder="Password",class="style-login") }}
              <br>
              <input type="submit" value="Login" class="style-login-btn">
              <a href="#">Has olvidado tu contraseña</a>
            </form>
          </div>
        </div>
{% endblock%}






