{% extends 'base.html' %}
{% block cuerpo %}
<img class="imgLogin" src='{{ url_for("static", filename="img/chairs.jpg") }}' alt=''/>
<frame>
    <svg >
        <ellipse cx="200" cy="80" rx="100" ry="50"/>
    </svg> 
    <form name='flogin' id='flogin' action='/login/' method='POST'>
        <div class="frameLogin">
            <div>
                <div class='label'>{{ form.usr.label }}</div>
                <div class='field'>{{ form.usr(minlength=5, maxlength=40, class="form-style")}}</div>
            </div>
            <div>
                <div class='label'>{{ form.pwd.label }}</div>
                <div class='field'>{{ form.pwd(minlength=5, maxlength=40)}}</div>
            </div>
            <div>
                <a href='/recuperar/'>recuperar contraseña</a>
            </div>
            <div>
                <div>&nbsp;</div>
                <div>{{ form.btn() }}</div>
            </div>
        </div>
    </form>
</frame>
{% endblock %}