{% extends 'base.html' %}
{% block cuerpo %}
    <!-- section header imagen -->
    <section class="Gplatos">
        <div class="aside">
            <div class="user">
                <img src="{{ url_for('static',filename='img/foto.png')}}" class="fotico-dashboard" alt="" >
                <p class="rol">ADMIN</p>
            </div>
            <div class="plataforma">
                <h4>dashboard</h4>
            </div>
           
             <nav class="navbar-aside"> 
              <a href='/dashboard/platos/' class="dashboard-platos">Gestionar Platos</a>
              <a href='/dashboard/usuarios/' class="dashboard-usuarios">Gestionar Usuarios</a>
              <a href='/salir'>Salir</a>
            </nav> 

        </div>
        <div class="tabla">
          <h1 class="text-title">GESTI&Oacute;N DE PLATOS</h1><br>
          <form name='fbuscarD' id='fbuscarD' action='' method='POST'>
                <div class="buscar-plato">
                {{ form.seh(class="buscar") }}
                <input type="submit" class="btn_buscar" value="Buscar">
              </div>
          </form>
              <table>
                  <tr>
                    <th>Foto</th>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Calificacion</th>
                    <th>Gestionar</th>
                  </tr>
                  {% for i in res %}
                  <tr>
                    <td>{{ i[1] }}</td>
                    <td>{{ i[0] }}</td>
                    <td>{{ i[2] }}</td>
                    <td>{{ i[4] }}</td>
                    <td>${{ i[6] }}</td>
                    <td><a href='/dashboard/platos/editar_plato/?id_plato={{i[0]}}'>Editar &nbsp;</a> <a href='/delete/?id_plato={{i[0]}}'>&nbsp; Eliminar</a></td>
                  </tr>
                  {% endfor%}
                </table>
                <div class="botones">
                  <a href='/dashboard/platos/agregar_plato/'><input type="submit" value="Agregar" ></a>
              </div>
          </div> 
    
    </section>
{% endblock %}







