{% extends 'base.html' %}
{% block cuerpo %}
    <!-- section plato individual -->
<section >
    <div>
        <div class='buscar'></div>
        <h2 class="label-titulos">Plato</h2>
    </div>
    <div class="content-plato">
        <div class="item">
            <img class='img-plato' src="{{url_for('static',filename='img/plato2.jpg')}}">
        </div>
        {% for i in res  %}
        <div class="item">
            <div class="cont-info-plato">
                <div class="content">
                    <h1 class="name-plate">{{i[2]}}</h1>
                    <h1 class='name-price'>$ {{i[6]}}</h1>
                </div><br>
                <div class='estrella'>
                    {% for y in range(i[4]|int) %}
                    <i class="fa fa-star" aria-hidden="true"></i>
                    {% endfor %}
                </div><br>
                <div class="content-desc">
                    <h3 class="desc-title">Descripcion</h3><br>
                    <p class='desc-text'>{{ i[5] }}</p>
                </div>
                <div class='content-footer-plate'>
                    <div class ='content-circle'>
                        <div class="circle"><i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i></div>
                        <div><h1>1</h1></div>
                        <div class="circle"><i class="fa fa-minus-circle fa-2x" aria-hidden="true"></i></div>
                    </div>
                    <div class="content-add"><h1>Agregar al carrito</h1></div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% if 'user' in session %}
    <!-- section comentarios-->
<section >
    <div >
        <h2 class="label-titulos">{{ nComentarios }}  {{ form.coment.label()}}</h2>
    </div>
    <div class="content">
        <div class='item2' class='item-img'>
            <div>
                <img class="img-user" src="{{url_for('static', filename='img/imagen_usuario.png')}}">
            </div>
            <div class='nUser'>usuario</div>
        </div>
        <div class='item2'>
            {{ form.coment(class='style-coment')}}
        </div>
    </div>
    <div class="content-cement">
        <div class="btn-publicar"><h1>Publicar</h1></div>

    </div>
</section>
{% endif %}
{% endblock %}