{% extends 'base.html' %}
{% block cuerpo %}
    <!-- section plato individual -->
<section >
    <div>
        <div class='buscar'></div>
        <h2 class="label-titulos">Plato</h2>
    </div>
    <div class="content-plato">
        {% for i in res %}
        <div class="item">
            <img class='img-plato' src="{{url_for('static',filename=i[1])}}">
        </div>
        <div class="item">
            <div class="cont-info-plato">
                <div class="content">
                    <h1 class="name-plate">{{i[2]}}</h1>
                    <h1 class='name-price'>$ {{i[6]}}</h1>
                </div><br>
                <div class='estrella'>
                    {% for y in range(i[4]|int) %}
                    <i class="fa fa-star" aria-hidden="true"></i>
                    {% endfor %}
                </div><br>
                <div class="content-desc">
                    <h3 class="desc-title">Descripcion</h3><br>
                    <p class='desc-text'>{{ i[5] }}</p>
                </div>
                <div class='content-footer-plate'>
                    
                    <div class ='content-circle'>
                        <div><input type="number" value='1' min="1" max="10" class="cantidad" name='cantidad'></div>
                    </div>
                    <div class="content-add"><h1><a href="/producto/?plate={{ i[2] }}">Agregar al carrito</a></h1></div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
    <!-- section agregar comentarios-->
<section >
    <form name='fcoment' id='fcoment' action='' method='POST'>
        <div >
            <h2 class="label-titulos">{{ nComentarios }}  {{ form.coment.label()}}</h2>
        </div>
        <div class="content">
            <div class='item2' class='item-img'>
                <div>
                    <img class="img-user" src="{{url_for('static', filename='img/imagen_usuario.png')}}">
                </div>

                {% if 'user' in session %}
                <div class='nUser'>{{session['user']}}</div>
                {% else %}
                <div class='nUser'>usuario</div>
                {% endif%}
            </div>
            <div class='item2'>
                {{ form.coment(class='style-coment')}}
            </div>
        </div>
        <div class="content-cement">
            <h1><input type="submit" value='Publicar' class="btn-publicar" name='Publicar'><a></a></h1>
        </div>
    </form>
</section>
<!-- section todos los comentarios-->
{% if res2%}
<section>
    {% for i in res2 %}
        {% if i[2]|string in session|string %}
            <div class="content">
                <div class='item2' class='item-img'>
                    <div class ="nUser">{{ i[4] }}</div>
                    <div>
                        <img class="img-user" src="{{url_for('static', filename='img/imagen_usuario.png')}}">
                    </div>
                    <div class='nUser'>{{ i[2] }}</div>
                </div>
                <div class='item2'>
                    <textarea name="comentario" id="comentario" autofocus disabled autocomplete="" class="style-coment-fill" > {{ i[3] }} </textarea>
                </div>
            </div>
        {% else %}
        <div class="content">
            <div class='item2'>
                <textarea name="comentario" id="comentario" autofocus disabled autocomplete="" class="style-coment-fill" > {{ i[3] }} </textarea>
            </div>
            <div class='item2' class='item-img'>
                <div class ="nUser">{{ i[4] }}</div>
                <div>
                    <img class="img-user" src="{{url_for('static', filename='img/imagen_usuario.png')}}">
                </div>
                <div class='nUser'>{{ i[2] }}</div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    
</section>
{% endif %}
{% endblock %}