{% extends 'base.html' %}
{% block cuerpo %}
    <!-- section header imagen -->
    <section class="Gshopping">
        <div class="tabla"><br><br>
          <h1 class="label-titulos">Carrito de compras</h1><br>
              <table >
                  <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Total</th>

                    <th>Eliminar</th>
                  </tr>
                    {% if 'user' in session%}
                    {% for i in res %}
                    <tr>
                      <td>{{i[1]}}</td>
                      <td>{{i[2]}}</td>
                      <td>{{i[3]}}</td>
                      <td>{{i[4]}}</td>
                      
                      <td class="delete-one"> <a href='/delete/?id_compra={{i[0]}}'>Eliminar</a></td>
                    </tr>
                    {% endfor %}                  
                    {% endif%}

                </table>
                <div class="btn-delete">
                  <a href="/delete_all"><input type="submit" value="Eliminar todo"></a>
              </div>

          </div> 

    
    </section>
{% endblock %}