{% extends 'base.html' %}
{% block cuerpo %}
<!-- section registrar-encabezado -->
<section>
    <div class="text-title"><h1>Registrar cuenta</h1></div>
    <div class="content-line">
        <div class="line"></div>
    </div>
</section>

<!-- section formulario de registro-->

<section>
    <form name='fregistro' id='fregistro' action='/sign_in/' method='POST'>
        <div>
            <div class='content-sign'>
                <div>
                    <div>{{ form.nom.label(class="style-sign-label") }}</div>
                    <div>{{ form.nom( minlength=1, maxlength=100, class="style-sign")}}</div>
                </div>
                <div>
                    <div>{{ form.apl.label(class="style-sign-label") }}</div>
                    <div>{{ form.apl(minlength=5, maxlength=40, class="style-sign")}}</div>
                </div>
            </div>
            <div class='content-sign'>
                <div>
                    <div>{{ form.ema.label(class="style-sign-label") }}</div>
                    <div>{{ form.ema(minlength=3, maxlength=100, class="style-sign")}}</div>
                </div>
                <div>
                    <div>{{ form.usr.label(class="style-sign-label") }}</div>
                    <div>{{ form.usr(minlength=5, maxlength=40, class="style-sign")}}</div>
                </div>
            </div>
            <div class='content-sign'>
                <div>
                    <div>{{ form.ads.label(class="style-sign-label") }}</div>
                    <div>{{ form.ads(minlength=5, maxlength=40, class="style-sign")}}</div>
                </div>
                <div>
                    <div>{{ form.num.label(class="style-sign-label") }}</div>
                    <div>{{ form.num(minlength=5, maxlength=40, class="style-sign")}}</div>
                </div>
            </div>
            <div class='content-sign'>
                <div>
                    <div>{{ form.cla.label(class="style-sign-label") }}</div>
                    <div>{{ form.cla(minlength=5, maxlength=40, class="style-sign")}}</div>
                </div>
                <div>
                    <div>{{ form.ver.label(class="style-sign-label") }}</div>
                    <div>{{ form.ver(minlength=5, maxlength=40, class="style-sign")}}</div>
                </div>
            </div>
            <div class="content-line">
                <div >&nbsp;</div>
                <div >{{ form.btn(class='style-btn-sign') }}</div>
            </div>
        </div>
    </form>
</section>
{% endblock %}