{% extends 'base.html' %}
{% block cuerpo %}
<h1 align="center">Políticas de Privacidad y Condiciones de Uso</h1>
<h1>Condiciones de Uso</h1>
<p style="text-align:left">
Apreciado Usuario: el sitio web Gloria Jean's Coffees tienecomo función principal proveer información<br>
y servicios acerca de sus productos.<br>
Gloria Jean's Coffees solicita al Usuario de esta página, que lea detallada y juiciosamente estas<br>
condiciones de uso (en adelante las Condiciones de Uso)y la política de privacidad de este Sitio <br>
Web, antes de iniciar su exploración o utilización. Si el Usuario no está de acuerdo con estas <br>
Condiciones de Uso o con cualquier disposición de la Política de Privacidad,le sugerimos que se<br>
abstenga de acceder o navegar por el Sitio Web de nuestra entidad.
<br> <br>
1. Aceptación de Términos<br>
Se presume que cuando un usuario accede al sitio Web lo hace bajo su total responsabilidad y que,<br>
por tanto, acepta plenamente y sin reservas el contenido de los términos y condiciones de uso del<br>
sitio Web. Gloria Jean's Coffees  se reserva, en todos los sentidos, el derecho de actualizar y modificar en<br>
cualquier momento y de cualquier forma, de manera unilateral y sin previo aviso, las presentes<br>
condiciones de uso, políticas de privacidad y los contenidos de la página.
<br> <br>
2. Contenidos del Sitio Web<br>
El sitio Web tiene por finalidad brindar al usuario todo tipo de información relacionada con la<br>
los productos ofrecidos por ellos, por medio de pedidos de sus productos. En ningún caso esta <br> 
información deberá considerarse como exhaustiva, completa o que de cualquier forma satisfaga<br>  
todas las necesidades del Usuario.
<br> <br>
2.1. Responsabilidad por la información contenida<br>
Debido a que en la actualidad los medios técnicos no permiten garantizar la absoluta falta de injerencia<br>
de la acción de terceras personas en el Sitio Web, Gloria Jean's Coffees de ninguna manera asegura<br>
la exactitud y/o veracidad de todo o parte de la información contenida en su página, ni su <br>
actualización, ni que dicha información haya sido alterada o modificada en todo o en parte,<br> 
luego de haber sido publicada en la página, ni cualquier otro aspecto o característica de lo<br> 
publicado en el sitio o en los enlaces, respectivamente.
<br> <br>
3. Privacidad<br>
Se entiende por información personal aquella suministrada por el Usuario para el registro, la cual<br>
incluye datos como nombre, identificación, edad, género, dirección, correo electrónico y teléfono.<br>
El almacenamiento, y uso de la información personal se rige por las Políticas de Privacidad del <br>
Sitio Web.
<br> <br>
4. Ley aplicable y jurisdicción<br>
a. Estas condiciones de uso del Sitio Web serán rigen por las leyes de la República de Colombia.<br>
b. Si cualquier disposición de estas condiciones pierde validez o fuerza obligatoria, por cualquier<br>
razón, todas las demás disposiciones, conservan su fuerza obligatoria, carácter vinculante y <br>
generarán todos sus efectos.<br>
c. Para cualquier efecto legal o judicial, el lugar de las presentes condiciones es la ciudad de<br>
Bogotá, República de Colombia, y cualquier controversia que surja de su interpretación o aplicación<br>
se someterá a los jueces de la República de Colombia.
<br> <br>
7. Participación dentro del Sitio Web<br>
7.1 Por el hecho de ingresar al Sitio Web y para garantizar el buen y adecuado uso del mismo, el<br> 
usuario reconoce que Gloria Jean's Coffees se reserva el derecho de:<br> 
- Negar el registro a cualquier persona, en cualquier momento y por cualquier razón.<br> 
- Incluir o no en el Sitio Web el material recibido de los usuarios a su criterio. En el caso de <br> 
incluirlo, podrá mantener en el Sitio Web dicho material por el lapso que considere pertinente o <br> 
modificarlo.<br> 
- Remover, sin que sea obligatorio, contenidos que a juicio de Gloria Jean's Coffees sean ilegales, ofensivos, <br> 
difamatorios o que de cualquier otra forma violen éstos Condiciones de Uso. Así mismo, podrán ser <br> 
retirados los contenidos que violen derechos de propiedad intelectua, a solicitud de éste.<br> 
- Utilizar la información personal y/o contenidos suministrados por los Usuarios de acuerdo con las <br> 
Condiciones de Uso del Sitio Web y la Política de Privacidad. 
<br> <br>
7.2 Registro y Participación del usuario.<br> 
Por el hecho de ingresar a la Página Web y para garantizar el buen y adecuado uso de la misma, el <br> 
Usuario deberá cumplir con lo siguiente:<br> 
- Ser responsable por cualquier actividad que se lleve acabo bajo su registro.<br> 
- Ser responsable de la seguridad de su contraseña.<br>
- No abusar, acosar, amenazar o intimidar a otros usuarios del Sitio Web ya sea a través de los comentarios.
<br> <br> 
7.3 comentarios.<br>
El usuario reconoce que su participación en cualquier comentario de participación del Sitio Web, será bajo<br>
su exclusiva responsabilidad, y que de igual forma, las opiniones y/o acciones y/o comportamiento de otros<br> 
usuarios en tales espacios son responsabilidad exclusiva de quienes las emiten o realizan, por lo cual<br> 
Gloria Jean's Coffees no se hace responsable ni garantiza la calidad o idoneidad de tales conductas u<br> 
opiniones, ni por las consecuencias que ellas pudieren acarrear a favor y/ o en contra de otros usuarios<br>
o de terceros.
<br> <br>
8. Modificaciones a las condiciones de uso.<br>
Gloria Jean's Coffees podrá modificar las Condiciones de Uso aquí contenidos, a su libre elección y en<br> 
cualquier momento y los mismos estarán vigentes una vez hayan publicado en la página Web.<br>
El Usuario se compromete a revisar periódicamente esta sección para estar informado de tales modificaciones<br>
y cada nuevo acceso del usuario a la página será considerado una aceptación tácita de las nuevas condiciones.
</p>

{% endblock %}