{% extends 'base.html' %}
{% block cuerpo %}
    <!-- section header imagen -->
    <section class="Gplatos">
        <div class="aside">
            <div class="user">
                <img src="{{ url_for('static',filename='img/foto.png')}}" class="fotico-dashboard" alt="" >
                <p class="rol">ADMIN</p>
            </div>
            <div class="plataforma">
                <h4>dashboard</h4>
            </div>
           
             <nav class="navbar-aside"> 
              <a href='/dashboard/platos/' class="dashboard-platos">Gestionar Platos</a>
              <a href='/dashboard/usuarios/' class="dashboard-usuarios">Gestionar Usuarios</a>
              <a href='/salir'>Salir</a>
            </nav> 

        </div>
        <div class="tabla">
          <h1 class="text-title">GESTI&Oacute;N DE USUARIOS</h1><br>
          <form name='fbuscarD' id='fbuscarD' action='' method='POST'>
            <div class="buscar-plato">
              {{ form.seh(class="buscar") }}
              <input type="submit" class="btn_buscar" value="Buscar">
            </div>
          </form>
              <table>
                  <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>apellido</th>
                    <th>telefono</th>
                    <th>direccion</th>
                    <th>email</th>
                    <th>rol</th>
                  </tr>
                  {% for i in res %}
                  <tr>
                    <td>{{ i[0] }}</td>
                    <td>{{ i[1] }}</td>
                    <td>{{ i[2] }}</td>
                    <td>{{ i[3] }}</td>
                    <td>{{ i[4] }}</td>
                    <td>{{ i[5] }}</td>
                    <td>{{ i[8] }}</td>
                  </tr>
                  {% endfor%}
                </table>
                <div class="botones">
                  <input type="submit" value="Agregar" href='/dashboard/platos/agregar_plato/'>
                  <input type="submit" value="Editar" href='/dashboard/platos/editar_plato/'>
                  <input type="submit" value="Eliminar">
              </div>
          </div> 
    
    </section>
{% endblock %}







